#cit_left_menu {
  padding: 0 5px;
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.left_menu_button {
  transform: scale(1);
  width: 100%;
  height: 30px;
  position: relative;
  color: #8391a2;
  font-size: 14px;
  letter-spacing: 0.05rem;
  transition: all 0.3s ease;
  cursor: pointer;
  padding-left: 36px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  &:hover {
    color : #fff;
    transform: scale(1.05);
  }
  
  .fas {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    /*color: #8391a2;*/
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

.left_menu_button.cit_active {
  color : #fff;
  transform: scale(1.05);
}