html {
  overflow: hidden;
}

body {
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: 'Titillium Web';
  font-weight: 400;
  padding: 0;
  padding-top: 0;
  background-repeat: no-repeat;
  height: 100vh;
}

#ws_pay_form_overlay {
  position: fixed;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 32, 59, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
}

#loader_ws_pay {
  display: block;
}

#card_page_container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.ws_pay_slika {
  display: block;
  margin: 0 auto;
  max-height: 260px;
  max-width: 60%;
  width: auto;
  height: auto;
  z-index: 999;
}

#ws_pay_info_box {
  font-size: 13px;
  color: #fff;
  background-color: #034072;
  width: 90%;
  margin: -34px auto 0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 10px 10px;
  text-align: center;
  letter-spacing: 0.04rem;
}


.cit_radio_group {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 5px 0 10px;
  transition: all 0.3s ease;
  letter-spacing: 0.05rem;
}


.cit_radio_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-right: 10px;

}


.cit_radio_circle {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.2s ease 0.1s;
  margin-right: 5px;

}


.cit_radio_dot {
  width: 8px;
  height: 8px;
  background-color: #00f4ff;
  border-radius: 4px;
  transform: scale(0);
  box-sizing: border-box;
  transition: transform 0.3s ease-in;
}


.cit_radio_item.cit_selected .cit_radio_circle {
  border: 3px solid rgba(0, 255, 245, 0.4);

}

.cit_radio_item.cit_selected .cit_radio_circle .cit_radio_dot {
  transform: scale(1);
}

#goto_ws_pay_site_btn {
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 0;
  background-color: #e8412f;
  border: 0px solid transparent;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  text-transform: uppercase;
  transform: scale(1);
}

#goto_ws_pay_site_btn:active {
  transform: scale(0.9);
}


/*# sourceMappingURL=card_pay_page.css.map */