html {
  overflow: hidden; }

sup {
  top: -1em; }

sub, sup {
  position: relative;
  font-size: 40%;
  line-height: 0;
  vertical-align: baseline; }

body {
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #44fffb 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  font-family: 'Titillium Web';
  font-weight: 400;
  padding: 0;
  padding-top: 0;
  background-repeat: no-repeat;
  height: 100vh; }

#ws_pay_form_overlay {
  position: fixed;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 32, 59, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  #ws_pay_form_overlay #loader_ws_pay {
    display: block; }
  #ws_pay_form_overlay #loader_text_ws_pay {
    margin-top: 40px;
    color: #fff;
    font-size: 13px;
    padding: 4px 20px;
    box-sizing: border-box;
    height: 30px;
    border-radius: 15px;
    background-color: #e8412e;
    display: flex;
    align-items: center;
    letter-spacing: 0.06rem;
    max-width: 270px;
    width: 100%;
    text-align: center;
    justify-content: center; }

#card_page_container {
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 50px; }

.ws_pay_slika {
  display: block;
  margin: 0 auto;
  max-height: 260px;
  max-width: 60%;
  width: auto;
  height: 260px;
  z-index: 999; }
  .ws_pay_slika img {
    width: auto;
    height: 100%;
    max-height: 260px; }

#ws_pay_info_box {
  font-size: 13px;
  color: #fff;
  background-color: #034072;
  width: 90%;
  margin: -34px auto 0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 40px 10px 10px;
  text-align: center;
  letter-spacing: 0.04rem;
  max-width: 400px; }

#wspay_obavezni_podaci {
  font-size: 13px;
  color: #fff;
  background-color: #034072;
  width: 90%;
  margin: 20px auto 0;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 10px;
  text-align: center;
  letter-spacing: 0.04rem;
  max-width: 400px; }
  #wspay_obavezni_podaci p {
    text-align: left; }

#ikone_kartica,
#ikone_sigurnosti {
  width: 100%;
  height: auto;
  margin: 10px 0 50px;
  float: left;
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  background-color: #fff; }
  #ikone_kartica img,
  #ikone_sigurnosti img {
    border: 0px solid transparent;
    height: 50px;
    width: auto;
    display: block;
    margin: 5px;
    float: left; }

.cit_radio_group {
  font-size: 12px;
  color: #fff;
  width: 100%;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 30px 0 15px;
  transition: all 0.3s ease;
  letter-spacing: 0.05rem; }

.cit_radio_item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
  padding-right: 10px;
  cursor: pointer; }

.cit_radio_circle {
  width: 20px;
  height: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.2s ease 0.1s;
  margin-right: 5px; }

.cit_radio_dot {
  width: 8px;
  height: 8px;
  background-color: #00f4ff;
  border-radius: 4px;
  transform: scale(0);
  box-sizing: border-box;
  transition: transform 0.3s ease-in; }

.cit_radio_item.cit_selected .cit_radio_circle {
  border: 3px solid rgba(0, 255, 245, 0.4); }
  .cit_radio_item.cit_selected .cit_radio_circle .cit_radio_dot {
    transform: scale(1); }

#goto_ws_pay_site_btn {
  cursor: pointer;
  width: 200px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto 0;
  background-color: #e8412f;
  border: 0px solid transparent;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  text-transform: uppercase;
  transform: scale(1); }
  #goto_ws_pay_site_btn:active {
    transform: scale(0.9); }

/*# sourceMappingURL=card_pay_page.css.map */
