@charset "UTF-8";
/* po uzoru na https://hyper-react.coderthemes.com/dashboard */
html {
  --cit_color: #238eff; }

.ps__rail-x,
.ps__rail-y {
  z-index: 9999; }

#image_popup_spremnik {
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  z-index: 11111;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }
  #image_popup_spremnik .cit_search_result_image {
    margin: 0 auto; }

.cit_center {
  display: flex;
  align-items: center;
  justify-content: center; }

.main_module_component {
  width: 100%;
  float: left;
  height: auto;
  background-color: #fafbfe; }

.cit_tag_pill {
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px 10px;
  padding-right: 6px;
  margin: 9px 3px 0;
  background-color: #238eff;
  color: #fff;
  font-size: 12px;
  letter-spacing: 0.05rem;
  border-radius: 20px; }
  .cit_tag_pill .fa-times {
    color: #fff;
    align-self: flex-end;
    font-size: 20px;
    margin: 0 5px;
    margin-left: 10px;
    transform: scale(1);
    cursor: pointer; }
    .cit_tag_pill .fa-times:hover {
      transform: scale(1.1); }

.big_table_col {
  text-align: right;
  padding: 0 4px;
  box-sizing: border-box;
  position: relative; }
  .big_table_col .fa-caret-up {
    position: absolute;
    right: 0;
    top: calc(50% - 7px);
    margin-top: -10px;
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center; }
  .big_table_col .fa-caret-down {
    position: absolute;
    right: 0;
    top: calc(50% + 3px);
    margin-top: -10px;
    display: flex;
    width: 20px;
    height: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center; }

#big_stats_table_box .cit_big_table_header_row .big_table_col {
  padding-right: 30px; }

.cit_big_table_label {
  float: left;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  height: 100%; }

.cit_big_table_navigation {
  color: #a2a2a2;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .cit_big_table_navigation .cit_big_table_previous,
  .cit_big_table_navigation .cit_big_table_next {
    font-size: 30px;
    float: left;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(1);
    transition: all 0.1s ease-in;
    cursor: pointer; }
    .cit_big_table_navigation .cit_big_table_previous:hover,
    .cit_big_table_navigation .cit_big_table_next:hover {
      transform: scale(1.1); }
    .cit_big_table_navigation .cit_big_table_previous:active,
    .cit_big_table_navigation .cit_big_table_next:active {
      transform: scale(0.9);
      color: #606060; }
  .cit_big_table_navigation .cit_big_table_page_num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    font-size: 16px;
    font-weight: 500;
    height: auto; }

.cit_big_table_header_row {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  color: #666;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #b4b5b6;
  cursor: pointer; }

.cit_big_table_row {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 12px;
  letter-spacing: -0.02rem;
  font-weight: 400;
  color: #333;
  margin-bottom: 4px;
  padding-bottom: 4px;
  border-bottom: 1px solid #b4b5b6;
  cursor: pointer; }
  .cit_big_table_row:hover {
    background-color: #fff; }

.cit_fancy_card {
  background-color: #fff;
  padding: 16px;
  border-radius: 6px;
  float: left;
  height: auto;
  display: flex;
  width: 100%;
  position: relative;
  min-height: 190px;
  box-shadow: 2px 2px #cacaca, -2px -2px 9px rgba(202, 202, 202, 0.3);
  flex-direction: column;
  justify-content: center; }
  .cit_fancy_card .fancy_card_big_image_box {
    width: 100%;
    height: auto;
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    position: relative; }
    .cit_fancy_card .fancy_card_big_image_box .fancy_card_image {
      position: absolute;
      width: 100%;
      height: auto;
      max-width: 100px;
      transform: translate(-50%, -50%) scale(1);
      top: 50%;
      left: 50%;
      transition: all 0.3s ease;
      z-index: 999; }
    .cit_fancy_card .fancy_card_big_image_box .fancy_card_image.hidden_badge {
      transform: translate(-50%, -50%) scale(0);
      z-index: 1; }
  .cit_fancy_card .cit_card_badge {
    width: 70px;
    height: auto;
    display: block;
    z-index: 999;
    position: absolute;
    top: 30px;
    right: 30px; }

.cit_card_label {
  font-size: 14px;
  color: #908f8f;
  font-weight: 400;
  float: left; }

.cit_card_big_number,
.cit_card_big_number .big_num_span {
  font-size: 40px;
  font-weight: 200;
  color: #08aff5;
  flex: 1;
  position: relative;
  float: none;
  clear: left;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center; }

.cit_small_label {
  font-size: 16px;
  color: #b9b7b7;
  font-weight: 300; }

/* ////////////////////////////////   CIT GLOBAL PROGRES BAR //////////////////////////////// */
#cit_global_progress_bar {
  position: fixed;
  top: 0;
  left: 0;
  height: 4px;
  width: 100%;
  z-index: 555555555;
  pointer-events: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  #cit_global_progress_bar #cit_global_precentage {
    background-color: #e84030;
    width: 0%;
    height: 100%;
    border-radius: 2px;
    transition: width 0s ease; }

.car_plate_row,
.pp_vip_row,
.pp_owner_row {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px 14px 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px #cacaca, -2px -2px 9px rgba(202, 202, 202, 0.3); }
  .car_plate_row .read_car_plate,
  .car_plate_row .read_pp_vip,
  .car_plate_row .read_pp_owner,
  .pp_vip_row .read_car_plate,
  .pp_vip_row .read_pp_vip,
  .pp_vip_row .read_pp_owner,
  .pp_owner_row .read_car_plate,
  .pp_owner_row .read_pp_vip,
  .pp_owner_row .read_pp_owner {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 700; }

.pp_owner_row {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px 14px 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px #cacaca, -2px -2px 9px rgba(202, 202, 202, 0.3); }
  .pp_owner_row .pp_owner_cell {
    float: left;
    height: 28px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.03rem; }

#users_pp_owners_header {
  width: 100%;
  clear: both;
  padding: 0px 14px 0px; }
  #users_pp_owners_header .pp_owner_cell {
    float: left;
    height: 24px;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.03rem; }

#cit_global_progress_bar.cit_show {
  opacity: 1; }
  #cit_global_progress_bar.cit_show #cit_global_precentage {
    width: 100%;
    transition: width 20s ease; }

html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  display: flex;
  height: 100%;
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  overflow: hidden; }

#search_autocomplete_container {
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  background-color: #f6f6f9;
  box-shadow: 0 0 56px rgba(0, 0, 0, 0.3);
  width: 300px;
  margin-left: -150px;
  height: auto;
  min-height: 100px;
  max-height: 500px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  /*display: flex;*/
  border-radius: 10px;
  font-size: 12px;
  color: #444546; }
  #search_autocomplete_container .header_column {
    border: 0px solid transparent;
    border-bottom: 1px solid #bdbcbc; }

#nema_rezultata {
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 16px;
  min-height: 100px;
  display: flex; }

.search_result_table {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 0;
  font-size: 12px;
  max-height: 400px; }

.search_result_row {
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  line-height: 30px;
  margin-top: -1px;
  font-size: 14px;
  position: relative; }
  .search_result_row:hover {
    background-color: #fff; }
  .search_result_row .search_result_column {
    display: flex;
    box-sizing: border-box;
    word-break: break-word;
    width: calc(14.285% + 1px);
    line-height: normal;
    padding: 5px;
    border: 1px solid #bdbcbc;
    border-left: 1px solid transparent;
    margin-left: -1px;
    cursor: pointer;
    border-right: 1px solid transparent; }
    .search_result_row .search_result_column .cit_search_result_image {
      border-radius: 5px;
      max-height: 30px; }
  .search_result_row .search_result_column.header_column {
    display: block;
    box-sizing: border-box;
    width: calc(14.285% + 1px);
    line-height: 20px;
    padding: 5px;
    border: 1px solid #bdbcbc;
    margin-left: -1px;
    cursor: pointer;
    font-weight: 700;
    text-align: center; }
    .search_result_row .search_result_column.header_column i {
      float: right;
      margin-right: 5%;
      font-size: 20px;
      display: block;
      top: -2px;
      position: relative; }

.search_result_row.hovered {
  background-color: #acffec; }

.search_result_row.header {
  flex: 1;
  height: auto;
  z-index: 999;
  position: relative;
  background-color: #fff;
  width: 100%; }

.search_result_row.header.sidebar_list .search_result_column.header_column {
  padding: 1px 3px; }

.search_result_row.sidebar_list .search_result_column {
  padding: 1px 3px; }

#layer_below_modal {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  opacity: 0.1;
  z-index: 998;
  pointer-events: none;
  opacity: 0; }

#layer_below_modal.cit_show {
  pointer-events: all;
  opacity: 1; }

#layer_ispod_sidebara {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 95;
  top: 0;
  left: 0;
  transition: all 0.3s ease;
  background-color: rgba(0, 0, 0, 0.18); }

#cit_left_sidebar {
  position: relative;
  width: 200px;
  height: 100%;
  background-color: #1a2840;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box; }

#cit_right_sidebar {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: #fff;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 32px 0 0;
  box-sizing: border-box;
  box-shadow: inset 0 0 100px rgba(195, 216, 255, 0.42); }

#cit_main_area {
  position: relative;
  flex: 1;
  background-color: #fafbfe;
  overflow-x: hidden;
  overflow-y: auto;
  /*
  background-image: url(/img/we_park_logo.svg);
  background-repeat: no-repeat;
  background-position: 50% 20px;
  background-size: 140px auto;
  */
  padding: 20px;
  box-sizing: border-box; }

.cit_regular_remove_scrollbar::-webkit-scrollbar {
  width: 0 !important; }

/*
.cit_scrollbar::-webkit-scrollbar {width: 7px; height: 0;}
.cit_scrollbar::-webkit-scrollbar-track {margin: 54px 0 53px}
.cit_scrollbar::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.0);
    border-radius: 10px;
    box-shadow: rgba(255,255,255,0.3) 0 0 0 1px;
}
.cit_scrollbar:hover::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.45)}
.cit_scrollbar::-webkit-scrollbar-thumb:hover {background: rgba(0,0,0,0.55)}
*/
.cit_place_list_here {
  width: 100%;
  height: auto;
  position: relative; }

.cit_place_list_here {
  transition: max-height 0.3s ease;
  max-height: 700px;
  overflow: hidden; }

.cit_place_list_here.cit_close {
  max-height: 0; }

@media screen and (max-width: 480px) {
  .cit_scrollbar {
    right: 0px; }

  .cit_scrollbar::-webkit-scrollbar {
    width: 5px; } }
.shrink_arrow_container {
  position: fixed;
  height: auto;
  overflow: hidden;
  background-color: transparent;
  z-index: 997;
  display: none; }
  .shrink_arrow_container #open_right_sidebar {
    float: right;
    margin: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: all 0.1s ease; }
  .shrink_arrow_container #close_right_sidebar {
    float: right;
    margin: 5px;
    cursor: pointer;
    font-size: 24px;
    display: none;
    transition: all 0.1s ease; }

#collapse_left_sidebar {
  display: none; }

.shrink_arrow_container.right {
  right: 0;
  top: 0;
  padding-right: 14px; }

.circle_bar_box {
  position: relative;
  overflow: hidden;
  background-color: #eef3ff;
  width: 100%;
  height: auto; }

.circle_bar_number {
  position: absolute;
  z-index: 999;
  top: 35%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  font-size: 28px;
  font-weight: 200;
  color: #8c8888;
  text-align: center;
  justify-content: center;
  align-items: center; }

.circle_bar_perc_value {
  position: absolute;
  z-index: 999;
  top: 55%;
  left: 0;
  width: 100%;
  height: auto;
  display: flex;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 0.08rem;
  color: #248efe;
  text-align: center;
  justify-content: center;
  align-items: center; }

.circle_bar_percent {
  width: 100%;
  height: auto;
  display: block;
  transform-origin: 50% 100%;
  /* transform: translateX(0) translateY(-8%) rotate(0deg);*/
  overflow: hidden; }

.circle_bar_percent.we_animate {
  transition: all 0.6s ease-out; }

.circle_bar_grad {
  width: 100%;
  height: auto;
  display: block;
  transform-origin: 50% 100%; }

.circle_bar_percent.we_animate .circle_bar_grad {
  transition: all 0.6s ease-out; }

.circle_bar_label {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: #b1b1b1; }

.we_graf_row {
  margin: 0; }

#graf_solar_row {
  overflow-x: auto;
  overflow-y: hidden;
  display: block; }

.we_graf_box {
  width: 100%;
  position: relative; }
  .we_graf_box .we_graf_point {
    z-index: 9999;
    opacity: 0;
    width: 28px;
    height: 28px;
    background-clip: content-box;
    border: 10px solid transparent;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: #0089ff;
    overflow: visible;
    display: flex;
    justify-content: center;
    cursor: pointer; }
    .we_graf_box .we_graf_point .graf_point_wrapper {
      z-index: 9999;
      height: 16px;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 4px;
      background-color: #0089ff;
      color: #fff;
      font-size: 12px;
      letter-spacing: 0.04rem;
      font-weight: 700;
      text-align: center;
      transform: translate(0%, -24px);
      transition: all 0.3s ease;
      opacity: 0; }
      .we_graf_box .we_graf_point .graf_point_wrapper .graf_point_value {
        padding: 0 5px;
        white-space: nowrap;
        min-width: 20px; }
  .we_graf_box .we_graf_point.we_small {
    background-clip: border-box;
    width: 4px;
    height: 4px;
    border: 0 solid transparent; }
  .we_graf_box .we_graf_point:hover {
    opacity: 1; }
  .we_graf_box .we_graf_point:hover .graf_point_wrapper {
    opacity: 1; }
  .we_graf_box .we_graf_top {
    width: 100%;
    height: auto;
    float: left;
    display: flex; }
    .we_graf_box .we_graf_top .we_graf_ver_numbers {
      width: 30px;
      height: 100%;
      display: flex;
      flex-direction: column-reverse;
      border-right: 1px solid #ccc;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 200;
      background-color: #f9fafd; }
      .we_graf_box .we_graf_top .we_graf_ver_numbers .graf_ver_num {
        height: 30px;
        width: 100%;
        transform: translateY(50%);
        font-size: 13px;
        text-align: right;
        padding-right: 5px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
    .we_graf_box .we_graf_top .we_graf_body {
      display: flex;
      flex-direction: column-reverse;
      min-width: 600px;
      height: auto;
      width: calc( 100% - 50px);
      position: relative;
      margin-left: 30px; }
      .we_graf_box .we_graf_top .we_graf_body .we_graf_points_box {
        position: absolute;
        z-index: 9998;
        width: 100%;
        height: 100%; }
      .we_graf_box .we_graf_top .we_graf_body .we_graf_line_box {
        position: absolute;
        z-index: 10;
        width: 100%;
        height: 100%; }
        .we_graf_box .we_graf_top .we_graf_body .we_graf_line_box .graf_line_segment {
          width: 100px;
          height: 2px;
          border-radius: 1px;
          background-color: #248efe;
          transform-origin: 1px 1px;
          position: absolute; }
      .we_graf_box .we_graf_top .we_graf_body .we_graf_line_box.we_animate {
        transition: all 1s ease-out; }
      .we_graf_box .we_graf_top .we_graf_body .graf_body_line {
        height: 30px;
        width: 100%;
        text-align: right;
        box-sizing: border-box;
        border-top: 1px solid #ece9e9;
        display: flex;
        align-items: center;
        justify-content: flex-end; }
  .we_graf_box .we_graf_hor_empty {
    width: 30px;
    height: 50px;
    float: left; }
  .we_graf_box .we_graf_hor_numbers {
    float: left;
    width: calc( 100% - 50px);
    height: 30px;
    border-top: 1px solid #ccc;
    position: relative;
    margin-left: -1px; }
    .we_graf_box .we_graf_hor_numbers .graf_hor_num {
      float: left;
      height: 100%;
      width: 50px;
      transform: translateX(50%);
      font-size: 13px;
      text-align: center;
      padding-top: 5px;
      box-sizing: border-box; }

#graf_needle {
  width: 1px;
  height: 240px;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #e84030;
  color: #fff;
  overflow: visible;
  z-index: 22222; }
  #graf_needle #graf_needle_display {
    position: absolute;
    top: 70%;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 5;
    width: 100px;
    height: 60px;
    display: flex;
    background-color: #e84030;
    font-size: 15px;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center; }

/*

---------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------------------------------------------------
NAPRAVIO SAM DA RO  UKOJEM JE GRAF BUDE SAMO 300 PX VISOK
TAKO DA SAM MORAO HORIZONTALNE BROJEVE PODIĆI ( sada su position absolute)

---------------------------------------------------------------------------
---------------------------------------------------------------------------
---------------------------------------------------------------------------
*/
#graf_solar .we_graf_hor_numbers {
  position: absolute;
  left: 30px;
  top: 240px;
  background-color: #fff; }

/* ovaj DIV u kojem bi trebala pisati nula za ishodište nisam trebao podići ali eto nak bude pokraj horizontalnih brojeva :) */
#graf_solar .we_graf_hor_empty {
  position: absolute;
  left: 0;
  top: 240px;
  background-color: transparent;
  z-index: 99999; }

/*------------------------------------------
  Responsive Grid Media Queries - 1280, 1024, 768, 480
   1280-1024   - desktop (default grid)
   1024-768    - tablet landscape
   768-480     - tablet 
   480-less    - phone landscape & smaller
--------------------------------------------*/
/*------------------------------------------
  Foundation Media Queries 
   http://foundation.zurb.com/docs/media-queries.html
--------------------------------------------*/
@media only screen and (max-width: 800px) {
  .shrink_arrow_container {
    display: block; }

  #cit_main_area {
    padding-top: 50px; }

  #collapse_left_sidebar {
    left: 50%;
    top: 0;
    padding-right: 8px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #e84030;
    color: #fff;
    margin: 0 5px 0;
    height: 30px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transform: translateX(-50%); }
    #collapse_left_sidebar i {
      color: #fff;
      margin: 0 5px;
      font-size: 24px; }

  #cit_left_sidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in; }

  #cit_right_sidebar {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    transform: translateX(100%);
    transition: transform 0.4s ease-in; }

  #collapse_left_sidebar i,
  #open_right_sidebar,
  #close_right_sidebar {
    transform: rotate(180deg); }

  #park_info_lista .park_info_row .avail_box {
    justify-content: center !important; } }
/* Small screens - MOBILE */
/* Define mobile styles - Mobile First */
/* max-width 640px, mobile-only styles, use when QAing mobile issues */
/* Medium screens - TABLET */
/* min-width 641px, medium screens */
/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
/* Large screens - DESKTOP */
/* min-width 1025px, large screens */
/* min-width 1024px and max-width 1440px, use when QAing large screen-only issues */
/* XLarge screens */
/* min-width 1441px, xlarge screens */
/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
/* XXLarge screens */
/* min-width 1921px, xlarge screens */
/*------------------------------------------*/
/* Portrait */
@media screen and (orientation: portrait) {
  /* Portrait styles here */ }
/* Landscape */
@media screen and (orientation: landscape) {
  /* Landscape styles here */ }
/* CSS for iPhone, iPad, and Retina Displays */
/* Non-Retina */
/* Retina */
/* iPhone Portrait */
/* iPhone Landscape */
/* iPad Portrait */
/* iPad Landscape */
/*------------------------------------------
  Live demo samples
   - http://andrelion.github.io/mediaquery/livedemo.html
--------------------------------------------*/

/*# sourceMappingURL=cit_global.css.map */
