textarea:focus, input:focus {
  outline: none; }

.cit_label {
  color: #303336;
  font-size: 13px;
  font-family: 'Titillium Web';
  font-weight: 400;
  font-style: normal;
  padding-left: 13px;
  margin-top: 5px; }

#login_register_container .cit_label {
  color: #bababa;
  padding: 0;
  text-align: center; }

.cit_input,
.cit_autocomplete,
.we_auto {
  width: 100%;
  height: 26px;
  border-radius: 13px;
  display: flex;
  align-content: center;
  font-size: 15px;
  letter-spacing: 0.05rem;
  background-color: #fff;
  margin: 0;
  box-sizing: border-box;
  padding: 3px 9px;
  text-align: left;
  color: #6c757d;
  border: 1px solid #b4b5b6;
  transition: all 0.2s ease; }
  .cit_input:active, .cit_input:focus,
  .cit_autocomplete:active,
  .cit_autocomplete:focus,
  .we_auto:active,
  .we_auto:focus {
    border: 1px solid #cecece; }

.cit_disable {
  pointer-events: none;
  opacity: 0.3;
  cursor: not-allowed; }

.cit_button {
  width: 100%;
  height: 26px;
  border-radius: 13px;
  display: flex;
  align-content: center;
  justify-content: center;
  font-size: 13px;
  background-color: #238eff;
  margin: 0;
  box-sizing: border-box;
  padding: 3px 20px;
  text-align: center;
  color: #e1e6fc;
  cursor: pointer;
  transition: all 0.2s ease;
  transform: scale(1);
  filter: brightness(100%); }
  .cit_button:hover {
    filter: brightness(130%);
    color: #fff;
    transform: scale(1.05); }
  .cit_button:active {
    transform: scale(0.9); }

.white_card {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0 20px #f0f1f9;
  padding-top: 20px;
  padding-bottom: 20px;
  box-sizing: border-box; }

.cit_switch {
  width: 100px;
  height: 32px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  padding: 6px;
  box-sizing: border-box;
  cursor: pointer; }

.switch_circle {
  height: 24px;
  width: 24px;
  border-radius: 11px;
  background-color: #e6e6e5;
  position: absolute;
  transition: all 0.2s ease;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
  z-index: 99; }

.switch_text {
  float: left;
  width: 50%;
  text-align: center;
  height: 20px;
  line-height: 15px;
  box-shadow: inset 0px -1px 3px rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  overflow: hidden;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer; }

.off_text {
  background-color: white;
  color: #333;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none; }

.on_text {
  background-color: #238eff;
  color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 0.2s ease;
  cursor: pointer;
  user-select: none; }

.cit_switch.off .switch_circle {
  left: 6px;
  top: 3px; }

.cit_switch.on .switch_circle {
  left: 72px;
  top: 3px; }

.cit_switch.off .on_text {
  width: 20%; }

.cit_switch.off .off_text {
  width: 80%; }

.cit_switch.on .on_text {
  width: 80%; }

.cit_switch.on .off_text {
  width: 20%; }

/*# sourceMappingURL=components_global.css.map */
