#cit_user_box {
  width: 100%;
  clear: both;
  height: 130px;
  position: relative; }
  #cit_user_box #cit_user_avatar_img {
    width: 60px;
    height: 60px;
    border-radius: 30px;
    background-color: #e84030;
    transition: transform 0.3s ease;
    transform: rotateY(270deg);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #192840; }
  #cit_user_box #display_user_name {
    overflow: hidden;
    width: 100%;
    color: #fff;
    font-size: 20px;
    letter-spacing: 0.05rem;
    height: 0px;
    transition: all 0.2s ease;
    position: absolute;
    font-family: 'Titillium Web';
    font-weight: 200;
    font-style: normal;
    bottom: 0;
    left: 0; }
  #cit_user_box #display_user_name.show {
    height: 30px; }

#cit_user_icon_box {
  width: 100%;
  display: block;
  overflow: hidden;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  height: 30px; }
  #cit_user_icon_box .user_avatar_icons {
    float: left;
    cursor: pointer;
    width: 33.33%;
    height: 30px;
    color: #8391a2;
    transition: all 0.2s ease;
    transform: scale(1); }
    #cit_user_icon_box .user_avatar_icons:active {
      transform: scale(0.9); }
    #cit_user_icon_box .user_avatar_icons:hover {
      color: #fff; }

#cit_user_icon_box.cit_hide {
  width: 100%;
  overflow: hidden;
  display: block;
  margin-bottom: 10px;
  transition: all 0.2s ease;
  height: 0; }

#login_register_container.register {
  width: 100%;
  clear: both;
  height: auto;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.2s ease; }
  #login_register_container.register #register_first_part {
    padding-top: 0;
    transition: all 0.2s ease;
    height: 180px;
    width: 100%;
    clear: both;
    overflow: hidden; }
  #login_register_container.register #user_login_button {
    display: none; }
  #login_register_container.register #zelim_se_registrirati {
    display: none; }
  #login_register_container.register #register_second_part {
    transition: all 0.2s ease;
    width: 100%;
    clear: both;
    overflow: hidden;
    height: 110px; }

#login_register_container.login {
  width: 100%;
  clear: both;
  height: auto;
  overflow: hidden;
  max-height: 500px;
  transition: max-height 0.2s ease; }
  #login_register_container.login #user_login_button {
    display: flex; }
  #login_register_container.login #zelim_se_registrirati {
    display: flex; }
  #login_register_container.login #register_first_part {
    padding-top: 0px;
    transition: all 0.2s ease;
    height: 0;
    width: 100%;
    clear: both;
    overflow: hidden; }
  #login_register_container.login #register_second_part {
    transition: all 0.2s ease;
    height: 0;
    width: 100%;
    clear: both;
    overflow: hidden; }

#login_register_container.cit_hide {
  width: 100%;
  clear: both;
  height: auto;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease; }

#login_register_container .cit_input {
  text-align: center; }

#zelim_se_registrirati,
#vec_imam_racun_link {
  font-size: 14px;
  letter-spacing: 0.04rem;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transform: scale(1);
  transition: transform 0.2s ease;
  cursor: pointer; }
  #zelim_se_registrirati:hover,
  #vec_imam_racun_link:hover {
    transform: scale(1.1); }

/*# sourceMappingURL=cit_user_login_module.css.map */
