#google_map_select_parking {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden; }

#park_info_lista {
  overflow: visible;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 20px;
  clear: both;
  max-height: 600px;
  height: auto;
  transition: all 0.5s ease-in;
  overflow-y: auto;
  overflow-x: visible; }
  #park_info_lista .park_info_row {
    height: auto;
    width: 100%;
    margin: 3px 0;
    background-color: #fff;
    border-radius: 6px;
    padding: 5px 0;
    box-shadow: 0 1px 0px #dadbdc;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.3s ease;
    cursor: pointer; }
    #park_info_lista .park_info_row:hover {
      transform: translateY(-2px);
      box-shadow: 0 2px 0px #dadbdc, 0 0px 10px rgba(218, 219, 220, 0.6);
      opacity: 1; }
    #park_info_lista .park_info_row .pp_info_row_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #park_info_lista .park_info_row .pp_info_row_box .pp_naziv {
        font-size: 14px;
        font-weight: 600; }
      #park_info_lista .park_info_row .pp_info_row_box .pp_adresa {
        font-size: 12px;
        font-weight: 400; }
    #park_info_lista .park_info_row .avail_box {
      display: flex;
      align-items: center;
      justify-content: flex-start; }
      #park_info_lista .park_info_row .avail_box .avail_num_and_label {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #park_info_lista .park_info_row .avail_box .avail_num_and_label .avail_num {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          background-color: #034072;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 400;
          margin: 3px 0;
          position: relative;
          transition: all 0.3s ease-out; }
          #park_info_lista .park_info_row .avail_box .avail_num_and_label .avail_num .special_tag {
            position: absolute;
            font-size: 10px;
            color: #fff;
            background-color: #b74ecc;
            padding: 0 4px;
            border-radius: 4px;
            top: 3px;
            left: 0;
            transform: translate(20px, -10px);
            font-weight: 700;
            letter-spacing: 0.06rem; }
          #park_info_lista .park_info_row .avail_box .avail_num_and_label .avail_num .vip_user_tag {
            position: absolute;
            font-size: 10px;
            color: #730b00;
            background-color: #e8412f;
            padding: 0;
            border-radius: 15px;
            top: 0;
            left: 0;
            transform: translate(27px, -10px);
            font-weight: 700;
            letter-spacing: 0.06rem;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            background: linear-gradient(125deg, #afaa04 0%, #eecc0a 29%, #e2ac09 50%, #f5c00b 66%, #ffcd00 100%);
            text-shadow: 1px 1px white; }
        #park_info_lista .park_info_row .avail_box .avail_num_and_label .avail_num.big {
          transform: translateY(-10px) scale(1.5); }
        #park_info_lista .park_info_row .avail_box .avail_num_and_label .avail_label {
          font-size: 11px;
          color: #333;
          text-align: center; }
      #park_info_lista .park_info_row .avail_box .park_price_box {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; }
        #park_info_lista .park_info_row .avail_box .park_price_box .price_num {
          height: 40px;
          width: 40px;
          border-radius: 20px;
          color: #034072;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          font-weight: 400;
          margin: 3px 0; }
        #park_info_lista .park_info_row .avail_box .park_price_box .price_valuta {
          font-size: 11px;
          color: #333;
          text-align: center; }
    #park_info_lista .park_info_row .book_box {
      display: flex;
      justify-content: center;
      align-items: center; }
      #park_info_lista .park_info_row .book_box .minus_book,
      #park_info_lista .park_info_row .book_box .plus_book {
        font-size: 30px;
        color: #034072;
        transition: all 0.2s ease;
        transform: scale(1);
        margin: 0 10px;
        cursor: pointer; }
        #park_info_lista .park_info_row .book_box .minus_book:hover,
        #park_info_lista .park_info_row .book_box .plus_book:hover {
          transform: scale(1.1);
          filter: brightness(130%); }
        #park_info_lista .park_info_row .book_box .minus_book:active,
        #park_info_lista .park_info_row .book_box .plus_book:active {
          transform: scale(0.9); }
      #park_info_lista .park_info_row .book_box .hours_book {
        font-size: 12px;
        margin: 0 10px; }
        #park_info_lista .park_info_row .book_box .hours_book .hours_book_num {
          font-size: 20px; }
    #park_info_lista .park_info_row .park_info_btn_box {
      display: flex;
      justify-content: center;
      align-items: center; }
      #park_info_lista .park_info_row .park_info_btn_box .start_book_btn,
      #park_info_lista .park_info_row .park_info_btn_box .stop_book_btn {
        max-width: 200px;
        background-color: #034072; }
  #park_info_lista .park_info_row.cit_active {
    transform: translateY(-2px);
    box-shadow: 0 2px 0px #dadbdc, 0 0px 10px rgba(218, 219, 220, 0.6);
    opacity: 1; }
  #park_info_lista .park_info_row.cit_dimmed {
    opacity: 0.5;
    transition: all 0.5s ease;
    background-color: #d0d0d0; }
    #park_info_lista .park_info_row.cit_dimmed:hover {
      opacity: 1; }

.we_indicator {
  margin-left: 20px;
  background-color: red;
  color: #fff;
  width: 100px;
  font-size: 12px;
  font-weight: 700;
  height: 30px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.07rem; }
  .we_indicator .fas {
    font-size: 16px;
    margin-left: 5px; }

.we_indicator.parking_indicator {
  background-color: #238eff; }

.we_indicator.book_indicator {
  background-color: transparent;
  color: red; }

.we_indicator.not_published {
  background-color: #e84030;
  color: white;
  width: 200px;
  margin: 0;
  max-width: 200px; }

#park_info_lista.cit_hide {
  max-height: 0;
  overflow: hidden;
  margin: 0; }

#parking_places_component #owners_component {
  height: auto;
  background-color: transparent; }

.white_row_card {
  float: left;
  width: calc(100% + 28px);
  clear: both;
  margin: 10px -14px;
  padding: 5px 10px 24px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px #cacaca, -2px -2px 9px rgba(202, 202, 202, 0.3); }

.pp_price_interval_row {
  float: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 5px 0;
  padding: 5px 14px 5px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 2px 2px #cacaca, -2px -2px 9px rgba(202, 202, 202, 0.3); }
  .pp_price_interval_row .pp_price_cell {
    float: left;
    height: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.03rem; }

#pp_price_intervals_header {
  width: 100%;
  clear: both;
  padding: 0px 14px 0px; }
  #pp_price_intervals_header .pp_price_cell {
    float: left;
    height: 24px;
    font-size: 10px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    letter-spacing: 0.03rem; }

/*# sourceMappingURL=parking_places_module.css.map */
