.stats_grupa_col {
  width: 20%;
  text-align: right;
}

.stats_donos_col {
  width: 20%;
  text-align: right;
}

.stats_uplaceno_col {
  width: 20%;
  text-align: right;
}

.stats_potroseno_col {
  width: 20%;
  text-align: right;
}

.stats_saldo_col {
  width: 20%;
  text-align: right;
}

.stats_od_find_box {
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  min-height: 100px;
  min-width: 100px;
  margin: 0 5px;
  box-shadow: 0 0 3px #9dd6ff;
  .stats_od_find_big {
    font-size: 28px;
    font-weight: 200;
    color: #666;
    span {
      font-size: 13px;
      font-weight: 500;
    }
  }
}

#gantt_main_header {
  width: calc(100% - 16px);
  height: 40px;
  position: relative;
  margin-left: 1px;
  border-bottom: 2px solid #ccc;
}

.hour_col {
    box-sizing: border-box;
    width: calc(100%/24 + 1px);
    height: 100%;
    margin-left: -1px;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    float: left;
    position: relative;
    .hour_num {
      position: absolute;
      z-index: 2;
      margin-right: -15px;
      top: 0;
      right: 0;
      width: 30px;
      height: 30px;
      background-color: #fafbfe;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #ccc;
    }
  }

#gantt_main_div {
  
  width: 100%;
  height: auto;
  min-height: 500px;
  height: 500px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  
  
  .hour_col {
    border-bottom: 1px solid #ccc;
  }
  
  .gantt_bar {
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    height: 20px;
    font-size: 13px;
    background-color: #7e9df8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    z-index: 999;
    cursor: pointer;
    overflow: visible;
    min-width: 20px;
    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  .gantt_bar.gantt_book {
    background-color: #238eff;
  }
  
  .gantt_bar.gantt_park {
    background-color: #e84030;
  }
  
  .gantt_finished {
      width: 20px;
      height: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: -13px;
      font-weight: 600;
      z-index: 50;
      color: #5f656f;
  }

  
.gantt_bar.start_before:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f137";
  display: block;
  top: 0;
  left: 4px;
  font-weight: 600;
  z-index: 50;
  color: #ffffff;
  margin-top: 1px;
}  
  
  
.gantt_bar.end_after:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  display: block;
  top: 0;
  right: 4px;
  font-weight: 600;
  z-index: 50;
  color: #ffffff;
  margin-top: 1px;
}  
    

  

}