.cit_search_list {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden; }
  .cit_search_list .cit_list_wrapper {
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto; }
  .cit_search_list .cit_list_row {
    width: 100%;
    min-height: 20px;
    height: auto;
    box-sizing: border-box;
    border-bottom: 1px solid #ccc;
    background-color: #efefef;
    cursor: pointer;
    transition: all 0.1s ease;
    transform: scale(1);
    font-weight: normal;
    font-style: normal;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start; }
    .cit_search_list .cit_list_row:hover {
      background-color: #fff; }
    .cit_search_list .cit_list_row .cit_list_col {
      float: left;
      height: 100%;
      display: flex;
      box-sizing: border-box;
      padding-left: 7px;
      justify-content: flex-start;
      align-items: center;
      font-size: 12px;
      color: #333; }
    .cit_search_list .cit_list_row .cit_col_1 {
      width: 55%; }
    .cit_search_list .cit_list_row .cit_col_2 {
      width: 30%; }
    .cit_search_list .cit_list_row .cit_col_3 {
      width: 15%; }
  .cit_search_list .cit_list_header {
    font-weight: 600;
    background-color: #fff;
    border-top: 2px solid #d9e2fb; }

.cit_place_list_here {
  transition: max-height 0.3s ease;
  max-height: 700px;
  overflow: hidden; }

.cit_place_list_here.cit_close {
  max-height: 0; }

.not_published_tag {
  position: absolute;
  top: 50%;
  height: 16px;
  margin-top: -8px;
  background-color: #e84030;
  color: #fff;
  font-size: 10px;
  font-weight: 700;
  width: auto;
  right: 5px;
  border-radius: 8px;
  padding: 0 10px;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06rem; }

/*# sourceMappingURL=cit_pp_list_module.css.map */
