.cit_list_bar {
  width: 100%;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #fff;
  background-color: #1a2840;
  padding-left: 10px;
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  position: relative;
  cursor: pointer;
  margin: 1px 0;
  .fas {
    transition: all 0.3s ease;
    transform: rotateZ(0);
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -12px;
    width: 30px;
    height: 100%;
    color: #fff;
    display: block;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}