
.site_monthly_product {
width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 5px;
    background-color: #fff;
    border-radius: 16px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 2px;
    box-shadow: 0 0 7px rgba(191, 220, 255, 0.8);
  .monthly_pp_icon_box {
    font-size: 30px;
    padding-right: 0px;
    border-right: 1px solid #ccc;
    width: 70px;
    text-align: center;
    margin-right: 12px;
  }
  .pp_name_and_valid_to_box {
    flex: 1;
    height: 100%;
    .park_name {
      font-size: 16px;
    }
    .monthly_valid_to {
      font-size: 11px;
      font-weight: 400;
      letter-spacing: 0.03rem;
    }
  }
  
}



.read_car_plate {
  float: left;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

#write_car_plate {
  width: 85%;
  float: left;
  margin-bottom: 5px;
}

.cit_row_badge {
  width: 30px;
  height: auto;
  display: block;
  margin-bottom: 5px;
}


#customer_tags_box {
  width: 100%;
  float: left;
  clear: both;
  height: auto;
  min-height: 40px;
  margin-top: 10px;
}


/*  -------------------- ACTIONS TABLE ------------------------  */
.pp_col {
  width: 12.5%;
}

.pp_start_time_col {
  width: 12.5%;
}
.pp_end_time_col {
  width: 12.5%;
}


.pp_reservation_start_col {
  width: 12.5%;
}
.pp_reservation_duration_col {
  width: 12.5%;
}

.pp_reservation_paid_col {
  width: 12.5%;
}


.pp_duration_time_col {
  width: 12.5%;
}
.pp_paid_col {
  width: 12.5%;
}

/*  -------------------- PRODUCTS TABLE ------------------------ */


.icon_col {
  width: 12.5%;
  .voucher_code {
    width: 100%;
    clear: both;
    text-align: left;
    letter-spacing: 0.1rem;
    font-weight: 700;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.desc_col {
  width: 12.5%;
}

.amount_col {
  width: 12.5%;
}

.price_col {
  width: 12.5%;
}

.buy_time_col {
  width: 12.5%;
}

.valid_from_col {
  width: 12.5%;
}

.valid_to_col {
  width: 12.5%;
}

.balance_col {
  width: 12.5%;
}


