.sss {
  background-color: transparent;
}

.data_box_ponuda {
  
  background-color: #fff;
  border-radius: 6px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  min-height: 100px;
  min-width: 80px;
  margin: 0 5px;
  box-shadow: 0 0 3px #9dd6ff;
  
  b {
    font-size: 12px;
    letter-spacing: 0.05rem;
  }
  
  .data_box_ponuda_number {
    font-size: 28px;
    font-weight: 200;
    color: #666;
  }
  
}


#products_gantt_main_header {
  width: calc(100% - 16px);
  height: 40px;
  position: relative;
  border-bottom: 2px solid #ccc;
  display: flex;
  margin: 0 13px;
  margin-left: 14px;
}

.day_col {
  flex: 1;
  box-sizing: border-box;
  height: 100%;
  margin-left: -1px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  position: relative;
  .hour_num {
    position: absolute;
    z-index: 2;
    margin-right: -15px;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #fafbfe;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.05rem;
    color: #ccc;
  }
}

#products_gantt_main_div {
  
  width: 100%;
  height: auto;
  min-height: 500px;
  height: 500px;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0 13px;
  margin-left: 14px;
  display: flex;
  
  #sub_count_traka {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 100%;
    display: flex;
    
    .day_col {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
  }
  
  .day_col {
    border-bottom: 1px solid #ccc;
  }
  
  .gantt_bar {
    box-sizing: border-box;
    padding: 0 20px;
    position: absolute;
    height: 20px;
    font-size: 13px;
    background-color: #7e9df8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    z-index: 999;
    cursor: pointer;
    overflow: visible;
    min-width: 5px;
    span {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  
  .gantt_bar.gantt_book {
    background-color: #238eff;
  }
  
  .gantt_bar.gantt_park {
    background-color: #e84030;
  }
  
  .gantt_finished {
      width: 20px;
      height: 20px;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 0;
      right: -13px;
      font-weight: 600;
      z-index: 50;
      color: #5f656f;
  }

  
.gantt_bar.start_before:before {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f137";
  display: block;
  top: 0;
  left: 4px;
  font-weight: 600;
  z-index: 50;
  color: #ffffff;
  margin-top: 1px;
}  
  
  
.gantt_bar.end_after:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  content: "\f138";
  display: block;
  top: 0;
  right: 4px;
  font-weight: 600;
  z-index: 50;
  color: #ffffff;
  margin-top: 1px;
}  
    

  

}