/* ////////////////////////////////  POPUP MESSAGE MODAL //////////////////////////////// */
#layer_under_cit_popup_modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999999;
  pointer-events: none;
  opacity: 0;
  will-change: opacity;
  background-color: rgba(0, 0, 0, 0.1); }

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1; }
  #layer_under_cit_popup_modal.cit_show #cit_popup_modal {
    pointer-events: all;
    opacity: 1;
    transform: scale(1); }

#cit_popup_modal {
  transition: all 0.4s ease;
  position: relative;
  width: 90%;
  height: auto;
  z-index: 999;
  border-radius: 20px;
  background-color: #fff;
  padding: 20px;
  box-sizing: border-box;
  transform: scale(0.6);
  box-shadow: 0px 5px 50px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0;
  overflow: visible;
  max-width: 500px; }

#layer_under_cit_popup_modal.cit_show {
  pointer-events: all;
  opacity: 1; }
  #layer_under_cit_popup_modal.cit_show #cit_popup_modal {
    pointer-events: all;
    opacity: 1;
    transform: scale(1); }

#cit_popup_modal_message {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  font-size: 18px;
  letter-spacing: 0.1rem;
  color: #5a5a5a;
  font-weight: 400;
  text-align: center;
  display: block;
  align-items: center;
  justify-content: center;
  overflow: visible; }
  #cit_popup_modal_message p {
    font-size: 16px; }

#cit_popup_modal_message.cit_error,
#cit_popup_modal_message.cit_pay_error {
  padding: 10px;
  background-color: red;
  color: #fff;
  border-radius: 10px;
  padding-top: 40px;
  position: relative; }
  #cit_popup_modal_message.cit_error p,
  #cit_popup_modal_message.cit_pay_error p {
    font-size: 16px;
    color: #fff; }

#cit_popup_modal_message.cit_pay_error {
  padding-top: 100px; }

#cit_popup_modal_message.cit_pay_error {
  background-color: #012442; }

#cit_popup_modal_message.cit_pay_success,
#cit_popup_modal_message.cit_pay_warning {
  padding: 10px;
  background: #0e68b4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #034072 10%, #0e68b4 50%, #0e68b4 50%, #033966 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  color: #fff;
  border-radius: 10px;
  padding-top: 100px;
  position: relative; }
  #cit_popup_modal_message.cit_pay_success p,
  #cit_popup_modal_message.cit_pay_warning p {
    font-size: 16px;
    color: #fff; }

#cit_popup_modal_message.cit_error:after {
  background-image: url("/img/error_modal.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -70px;
  margin-left: -50px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_pay_error:after {
  background-image: url("/img/payment_error_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_pay_success:after {
  background-image: url("/img/payment_success_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_pay_warning:after {
  background-image: url("/img/payment_warning_slika.png");
  background-size: 100% 100%;
  width: 80px;
  height: 80px;
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: 10px;
  margin-left: -40px;
  margin-top: 0;
  content: ""; }

#cit_popup_modal_message.cit_warning {
  padding: 10px;
  background-color: #ffd300;
  color: #000;
  border-radius: 10px;
  padding-top: 30px;
  position: relative; }
  #cit_popup_modal_message.cit_warning p {
    font-size: 16px;
    color: #000; }

#cit_popup_modal_message.cit_warning:after {
  background-image: url("/img/warning_modal.png");
  background-size: 100% 100%;
  width: 100px;
  height: 100px;
  content: "";
  position: absolute;
  z-index: 100000;
  left: 50%;
  top: -70px;
  margin-left: -50px;
  margin-top: 0; }

#cit_popup_modal_progress_bar {
  height: 20px;
  margin-top: 10px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden; }

#cit_popup_modal_complete_bar {
  height: 100%;
  width: 0%;
  float: left;
  background-color: #04b7fe;
  line-height: 20px;
  font-size: 10px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  min-width: 7%;
  box-sizing: border-box;
  transition: width 0.4s ease;
  border-radius: 10px; }

#cit_popup_modal_button_row {
  height: 60px;
  margin-top: 20px;
  width: 100%;
  overflow: visible;
  display: flex;
  justify-content: space-between; }
  #cit_popup_modal_button_row .cit_popup_modal_button {
    cursor: pointer;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    line-height: 50px;
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    color: #fff;
    transform: scale(1); }
    #cit_popup_modal_button_row .cit_popup_modal_button:active {
      margin-top: 3px;
      box-shadow: 0px 3px transparent; }
    #cit_popup_modal_button_row .cit_popup_modal_button:hover {
      transform: scale(1.06); }

#cit_popup_modal_YES {
  background-color: #04b7fe;
  box-shadow: 0px 3px #004996; }

#cit_popup_modal_OK {
  background-color: #04b7fe;
  box-shadow: 0px 3px #029ad6; }

#cit_popup_modal_NO {
  background-color: #e8412f;
  box-shadow: 0px 3px #bf3021; }

/* ////////////////////////////////   MODAL WINDOW  //////////////////////////////// */

/*# sourceMappingURL=site_popup_modal.css.map */
