.veliki_portir_gumbi {
  letter-spacing: 0.08rem;
  width: 160px;
  height: 160px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  box-shadow: inset 0px 2px 0px 0px #f5978e, inset 0px -2px 0px 0px #8c1e0e;
  background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
  background-color: #f24537;
  border: 7px solid #d02718;
  text-shadow: 1px -2px 0px #c1170a;
  cursor: pointer;
  margin: 40px; }
  .veliki_portir_gumbi .fa-cog {
    font-size: 70px; }

.veliki_portir_gumbi:hover {
  background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
  background-color: #c62d1f; }

.veliki_portir_gumbi:active {
  position: relative;
  top: 2px; }

#portir_enter_pp,
#portir_exit_pp {
  box-shadow: inset 0px 2px 0px 0px #eef11f, inset 0px -2px 0px 0px #a48415;
  background: linear-gradient(to bottom, #f2db37 5%, #c6871f 100%);
  background-color: #c3a022;
  border: 7px solid #c7a013;
  text-shadow: 1px -2px 0px #d89c25; }

#portir_enter_pp:hover,
#portir_exit_pp:hover {
  background: linear-gradient(to bottom, #c6871f 5%, #f2db37 100%);
  background-color: #e7bd28; }

#portir_fixed_open_ramp {
  box-shadow: inset 0px 2px 0px 0px #36ec16, inset 0px -2px 0px 0px #13790b;
  background: linear-gradient(to bottom, #72bc1d 5%, #2f7909 100%);
  background-color: #2e9822;
  border: 7px solid #068115;
  text-shadow: 1px -2px 0px #0a9e32; }

#portir_fixed_open_ramp:hover {
  background: linear-gradient(to bottom, #2f7909 5%, #72bc1d 100%);
  background-color: #117b05; }

#portir_fixed_open_ramp.blink_me,
#portir_fixed_close_ramp.blink_me {
  background-color: transparent;
  font-size: 12px;
  background-repeat: no-repeat;
  border: 0 solid transparent;
  box-shadow: none;
  text-shadow: none;
  background-size: 80%;
  background-position: center;
  transform: scale(1.4); }
  #portir_fixed_open_ramp.blink_me i,
  #portir_fixed_close_ramp.blink_me i {
    margin-top: 40px;
    -webkit-animation-name: blinker;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: blinker;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    animation-name: blinker;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite; }
  #portir_fixed_open_ramp.blink_me i.fa-spin,
  #portir_fixed_close_ramp.blink_me i.fa-spin {
    -webkit-animation: fa-spin 2s linear infinite;
    animation: fa-spin 2s linear infinite; }
  #portir_fixed_open_ramp.blink_me .fa-cog,
  #portir_fixed_close_ramp.blink_me .fa-cog {
    font-size: 40px; }

#portir_fixed_open_ramp.blink_me {
  background-image: url(../../img/barrier_triangle.svg); }

#portir_fixed_close_ramp.blink_me {
  background-image: url(../../img/barrier_triangle_red.svg); }

@-moz-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@-webkit-keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }
@keyframes blinker {
  0% {
    opacity: 1.0; }
  50% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

/*# sourceMappingURL=portir_module.css.map */
