#on_board_card {

  overflow: hidden;
  width: 90%;
  height: auto;
  padding: 40px 20px 20px;
  background-color: #05263f;
  color: #fff;
  z-index: 88;
  position: relative;
  margin: 20px auto;
  
  transform: translateY(5px) scale(1);
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0px 0px rgba(72, 72, 72, 0.33);
  border-radius: 10px;
  
  &:hover {
    transform: translateY(0px) scale(1.02);
    box-shadow: 0 10px 10px rgba(72, 72, 72, 0.33);
  }
  
  #on_board_we_logo {
    width: 70%;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto 20px;
  }
  
  #on_board_title {
    font-size: 20px;
    font-weight: 700;
    width: 100%;
    float: left;
    clear: both;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #on_board_text {
    
    width: 100%;
    float: left;
    clear: both;    
    font-size: 14px;
    
    .cit_list_item {
      width: 100%;
      margin-bottom: 3px;
      float: left;
      display: flex;
      clear: both;
      >div {
        height: 100%;
        color: #ff3225;
        font-size: 26px;
        font-weight: 700;
        width: 14%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        margin-top: -4px;
      }
      p {
        height: 100%;
        display: block;
        width: 86%;
        margin: 0 0 10px;
        letter-spacing: 0.05rem;
        span {
          background-color: #238eff;
          padding: 0 20px;
          border-radius: 10px;
          white-space: nowrap;
        }
      }
    }
    
    
  }
}